body {
    font: 18px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

#forms {
    float: left;
}

.form {
    margin-left: 50px;
    margin-right: 150px;
    width: 50%;
}

#login-form {
    vertical-align: top;
}

#start-form {
    margin-left: 50px;
    margin-right: 150px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#games-table {
    border-collapse: collapse;
    width: 35%;
}

#games-table thead {
    font-weight: bold;
    font-size: 27px;
}

#games-table td, #games-table th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    font-weight: normal;
}

#games-table tr:hover {background-color: #ddd;}

#games-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    cursor: pointer;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
